

<div class="jumbotron jumbotron-fluid" style="background-color:rgb(189, 6, 75, 1.0)">
  <div class="container">
    <h1 class="display-4" style="color:rgb(255,255,255, 1.0)">Aportar.CL</h1>
    <p class="lead" style="color:rgb(255,255,255, 1.0)">Sitio que contendrá iniciativas solidarias que invitan a colaborar.</p>
  </div>
</div>

<hr>
<h1>Iniciativas <small>próximos eventos</small></h1>
<hr>

<div class="card-columns">
  <app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="foo" [index]="i"  *ngFor="let foo of heroes; let i = index"></app-heroe-tarjeta>
</div>
