<div class="card animated fadeIn fast">
  <!--<img class="card-img-top img-fluid w-50"  [src]="heroe.img" [alt]="heroe.nombre" (click)="verHeroe()">-->

  <div class="card-body">
    <h4 class="card-title">{{ heroe.nombre }}</h4>
    <h6 class="card-subtitle mb-2 text-muted">{{ heroe.casa }}</h6>
    <p class="card-text"><small class="text-muted"> {{ heroe.aparicion }}</small></p>
    <p class="card-text"> {{ heroe.bio }} </p>
    

    <button (click)="verHeroe()"
      type="button" class="btn btn-outline-info btn-block">
      Aportar
    </button>
    <!-- <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary">Ver más link...</a> -->

  </div>

</div>
